
body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1614849963640-9cc74b2a826f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}
.logo img {
    width: 100px;  
    height: auto;
    border-radius: 30px;
}
.logo img:hover{
    transform: scale(1.05);
}
/* Background */
.background {
    width: 100%;
    height: 100px;
}

/* Main Container */
.home {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.95);
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    display: flex;
    padding: 40px;
}


.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #6A9C89;
}

.content .logo {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 60px;
    text-decoration: none;
    color: #6A9C89;
    font-weight: 700;
}

.content h2 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.content h3{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.content p {
    margin-top: 5px;
    padding :7px;
    font-size: 10px;
    margin-bottom: 30px;
    color: #666;
}
.login {
    flex: 1;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.login h2 {
    font-size: 16px;
    margin-bottom: 30px;
    color: #3F7D58;
}

.login .input {
    margin-bottom: 20px;
}

.login input {
    width: 95%;
    padding: 15px;
    border: none;
    border-bottom: 3px solid #50926a;
    background: transparent;
    color: #000000;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.login input:focus {
    border-color: #3F7D58;
}

.login button {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    margin-left: 10px;
    background: #3F7D58;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login button:hover {
    background: #569270;
    transform: scale(1.05);
   
}

.check {
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.checkbox-label {
    display: flex;
    gap: 5px; 
    white-space: nowrap; /* ป้องกันข้อความขึ้นบรรทัดใหม่ */
}
.sign-up {
    text-align: center;
    margin-top: 20px;
}

.sign-up a {
    color: #3F7D58;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.sign-up a:hover {
    color: #1b3124;
    
}
@media (max-width: 1200px) {
    .header {
        padding: 20px;
    }
    .home {
        width: 90%;
        padding: 20px;
    }
    
    .login {
        padding: 20px;
    }
    .login input {
        width: 90%;
    }
}